/* Some personal reset I copied from codepen */
  
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.calculator{
    background: transparent;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background: linear-gradient(to right, #02aab0, #00cdac);
}
.calculator{
    max-width: 404px;
    max-height: 650px;
    box-shadow: 8px 10px 3px 2px rgba(0,0,0,.2)  ;
}

/* Display Layout */
.calculator-display{
    display: flex;
    background: rgba(0,0,0,.8);
    color: rgba(255,255,255,.6); 
    padding: 10px;
    justify-content: flex-end;
    align-items:flex-end;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    height: 150px;
    overflow:hidden;
    width:404.999px;
}

/* Keypad Layout */
.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    background: black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    grid-gap:  1.5px;
    max-height: 506px;
}
.span-two{
    grid-column: span 2;
}

button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.6);

}
button.numbers{
 background: white;

}
button:nth-child(3),button:nth-child(7),button:nth-child(11),button:nth-child(15) {
    background: #faaca8;
}
button:nth-child(2){
    background:  #f7bb97;
}
button:nth-child(1){
    background:  white;
}
button:nth-child(16){
    border-bottom-left-radius: 14px;
}

button:nth-child(18){
    border-bottom-right-radius: 14px;
    background:  #faaca8;
}

button:hover{
    background: rgba(0,0,0,.9);
    color:white;
}
button:active{
    font-size: 1.5rem;
    background-color:rgba(0,0,0,.4);
}

.clicked{
    border: 2px solid yellow;
}